h1, h2, h3, h4, h5, h6, p, span, input, label{
  font-family: 'Open Sans',Arial,Helvetica Neue,sans-serif;
  width: 100%;
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: 3px;
  font-weight: 300;
  color: #eee;
}

.dark {
  color: #333333;
}

input[type="text"]{
  background: rgb(75, 75, 75);
  border: none;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
  width: 200px;
  font-size: 14px;
  color: #fff;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.app-header {
  margin: 10px 0 20px 0;
}

.app-subhead {
  margin: 0 0 25px 0;
}

.app-repeater-element {
  span {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    background: rgb(111,111,111);
    width: 200px;
    border-radius: 2px;
    text-align: center;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    &:hover {
      border-bottom: 2px solid #eee;
    }
  }
}


.select-style {
  border: 1px solid #ccc;
  background: #efecec;
  width: 120px;
  border-radius: 3px;
  overflow: hidden;
}

.select-style select {
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

